@font-face {
    font-family: 'effra_corpbold';
    src: url('../fonts/effra/effra_corp_bd-webfont.woff2') format('woff2'),
        url('../fonts/effra/effra_corp_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_corplight_italic';
    src: url('../fonts/effra/effra_corp_ltit-webfont.woff2') format('woff2'),
        url('../fonts/effra/effra_corp_ltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_corpmedium';
    src: url('../fonts/effra/effra_corp_md-webfont.woff2') format('woff2'),
        url('../fonts/effra/effra_corp_md-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'effra_corpregular';
    src: url('../fonts/effra/effra_corp_rg-webfont.woff2') format('woff2'),
        url('../fonts/effra/effra_corp_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effra_corplight';
    src: url('../fonts/effra/effra_corp_lt-webfont.woff2') format('woff2'),
         url('../fonts/effra/effra_corp_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}