$baseFontSize: 16;

$basefontfamily: 'effra_corpregular';
$mediumfont: 'effra_corpmedium';
$lightfont: 'effra_corplight';
$boldfont: 'effra_corpbold';

$blackcolor: #000;
$whitecolor: #fff;
$themecolor: #00b14b;
$lighgray: #dee2e2;
$yellowcolor: #fff54e;
$graybg: #e9eded;

